@import url(../../index.css);

.category section {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: space-around;
}

.category h2 {
	font-size: 2em;
	text-shadow: 2px 2px var(--emphasis-color);
}

.category {
	display: flex;
	flex-flow: column;
	gap: 0.5em;
}
